<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>CH3 beer</servlet-name>
        <servlet-class>by.academy.app.Beer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CH3 beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSP beer</servlet-name>
        <jsp-file>/Result.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSP beer</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.academy.filter.EncodingFilter</filter-class>
    </filter>


    <filetr-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filetr-mapping>
</web-app>